# Python
__pycache__/
*.pyc
*.pyo

# Pyrogram sessions
*.session
*.session-journal
sessions/

# Databases
*.db
*.db-wal
*.db-shm

# Logs
*.log

# Virtualenv
venv/
.venv/

# IDE
.idea/
.vscode/
*.iml

# Env files
.env
.env.*

# Media (если не статика)
media/*
!media/static/
!media/static/img/
!media/static/img/default.png

# System
.DS_Store
Thumbs.db

broadcaster/*

# Build artifacts
telegram_parse_bot.egg-info/